
#slogan {
	width: 30%;
	text-align: center;
        vertical-align: middle;
}
h1 {
	color: #000;
	font: 2em sans-serif;
        font-family: OpenSans-Regular, Arial;
}
h2 {
	color: #005397;
	font-size:1em;
	
}
#auth, #intro_auth {
	text-align: right;
        cursor: default;
}
#auth-form div,
#intro_auth_form div {
    display: inline-block;
}

form {
    display: inline-block;
}


/*-------------Autorization----------------*/
#hidden-auth.auth {
    display: none;
}
#auth.auth,
#hidden-auth.auth {
    /* Размер и положение */
    position: relative; /* For the submit button positioning */
 }

#auth.auth input[type=text],
#auth.auth input[type=password] {
    padding: 10px 18px 10px 5px;
 
    /* Styles */
    border: none; /* Remove the default border */
    box-shadow:
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    width: 75%;
    box-sizing: border-box;
    }

#auth.auth button,
#hidden-auth.auth button{
    /* Width and position */
    
    padding: 8px 5px;
  
    /* Styles */
    border: 1px solid #0273dd; /* Fallback */
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 3px;
    background: #32b67a;
    cursor:pointer;
  
    /* Font styles */
    color: white;

    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}

    #auth.auth li,
    #hidden-auth.auth li{
        display: inline-block;
    }
  
    
/*-------------Clearfix-------------*/
.clearfix:before, 
.clearfix:after {
  content: " ";
  display:table;
  
}
.clearfix:after {
  clear:both;
  
}
.clearfix {
  *zoom: 1;
}