html, body {
  height: 100%;
  font: 14px/1.4 "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  vertical-align: baseline;
  /*background-color:#eee;*/
  margin: 0px;
  position: relative;
  cursor: default;}

hr {
    border: none;
    background-color: #ddd; 
    height: 1px; /* Толщина линии */
   }

.btn {
    padding: 5px 10px;
    border: 1px solid #0273dd;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 3px;
    background: #32b67a;
    cursor:pointer;
    color: white;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}
.btn:hover { 
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
}
#wrapper {
          margin: 1%;
      }

.wrapper {
/*  max-width:1040px;*/
  min-width:320px;
  margin: 10px auto;
  height: inherit;
  overflow: hidden;
  position: relative;
  clear: both;
}

.table {
    /*border-spacing: 10px;*/
    width: 100%;
    display:table;

   
}


.row {
    display: table-row; 
}
.element {
    display: table-cell;
    cursor:pointer;
}

.textbox,
.message{
    height:100%;
    width:100%;
    border-radius:3px;
    border: 1px solid;
    box-sizing:border-box;
    padding:8px;
    resize: vertical;
}

ul {
    list-style: none;
}