
.content {
    background-color: #fff;
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
}
#psrListTableAll, #psrListTableActive{
    border-spacing: 10px;
}

/*-----Tabs------------------------*/
#pull {
  display:none;
}
#tabs a#pull {
  display:none;
}
#tabs label {
	cursor: pointer;
	display: inline-block;
	padding: 10px 40px;
	color: #8f8f8f;
 	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	/*border-radius: 20px 20px 0 0;*/
        /*border: 0px solid #ddd;*/
        /*border-width: 1px 1px 1px 1px;*/
        /*background: #f1f1f1;*/
        text-align: center;
        border-radius: 3px 3px 0 0;
}
.PSR_card {
    width: 100%;
    background: #f1f1f1;
    text-align: center;
    
    border: 0px solid #ddd;
    border-width: 1px 1px 1px 1px;
}
#tab-nav label {
	cursor: default;
color: #4e4e4e;}

#tabs label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
        }

#tabs input {
	display:none;
}
#tabs input:checked +label {
            color: #323232;
            /*border-top: 1px solid #009933;*/
            border-bottom: 1px solid #009933;
            background: #fff;
}
#tabs input:hover + label {
        
            color: #888;
 
}
#tabs input:focus +label {
        background: #fff;
        color: #bf3f3f;
    }

#tabs input:focus + label {
	color: #bf3f3f;
}
input#tab-1:checked ~ .content .tab-1,
input#tab-2:checked ~ .content .tab-2,
input#tab-3:checked ~ .content .tab-3 {
	display:block;
}






/*-------Articles------------*/

article{
        top: 0;
        left: 0;
        width:100%;
       display: none;
	}

table{
  width: 100%;
}
td {
  padding: 9px 8px;
}
tr:hover td{
  color: #6699ff;
  cursor:pointer;
}
.content-load{
    display: inline-block;
    font: 13px sans-serif;
    padding: 4px 15px;
    /*margin: 0 auto;*/
    cursor: pointer;
    color: #999;
    width: 100%;
    text-align: center;
}

