p{
    text-align: center;
}


hr{
    color :#009933;
    border: none;
    background-color: #009933;
    height: 1px;
}

button{
    border: 1px solid #0273dd;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 3px;
    background: #32b67a;
    cursor:pointer;
    color: white;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}

#radio_tools{
    text-align: left;
}

#main{
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    /*margin:0 auto;*/
}

#control {
    width: 15%;
    height: 100%;
    float: left;
    overflow-y: auto;
}

#map_layer {
    width: 85%;
    height: 100%;
    float: right;
}

#main {
    clear:both;
    width:100%;
    height:100%;
    padding:0;
    /*margin:0 auto;*/
    display:inline-block;
    
}



h1 {
    font:1.4em sans-serif;
}

/*#slogan, #auth {
    display: table-cell;
    margin: 0;
    padding:0;
}*/

/*reset all styles*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video  {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
}

/*For Input File*/
.file-upload {
    position: relative;
    overflow: hidden;
    width: 95%;
    height: 15px;
    background: #32b67a;
    border-radius: 3px;
    padding: 8px 4px;
    text-align: center;
    border: 1px solid #0273dd;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 3px;
    cursor:pointer;
    color: white;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}
.file-upload input[type="file"]{
    display: none;
}
.file-upload label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.file-upload span {
    line-height: 36px;
}
.filename {
    background: #fff;
    border: 0;
    width: 100%;
}

/*for list of tracks*/

#track_tools * {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Style the close button */
.del {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px
}

.del:hover {
    background-color: #f44336;
    color: white;
}

/*--------------------------------------------*/