<form class="reminders">
    <input class="hide" id="hd-1" type="checkbox">
    <label for="hd-1">Напоминание</label>
    <div>
        <label for="alarm">Дата:</label>
        <input id="alarm" name="alarm" class="message" required/>
        <label for="short_desc">Описание:</label>
        <textarea id="short_descr"  name="short_desc" class= message placeholder="* Введите данные"></textarea>
        <div>Дата создания: <label id="create_date"></label></div>
    <hr/>
</div>
</form>
