<div>
<p>Описание: <br><textarea id="descr" cols="20" rows="3"></textarea></p>
    <div id="noise_block">
        <p>Шумовой коридор<br>(тишина...шум): <br><input type="range" min="0" max="15" id="noise" oninput="" value="0"></p>
    </div>
    <div id="slow_koef_block">
        <p>Проходимость <br> (трудно...легко): <br><input type="range" min="0" max="5" id="slow_koef" oninput="" value="0"></p>
    </div>
<button onclick="MapPage.updateParamsInLayer()">Сохранить</button>
</div>