<div id="import_tracks_tools">

    <div class="file-upload">
        <p>
            <label>
                <input type="file" name="file" id="file">
                <span>Выберите файл</span>
            </label>
        </p>
    </div>

    <p>

        <input type="text" id="filename" class="filename" disabled>

    </p>
    <!--Load input decoration-->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".file-upload input[type=file]").change(function () {
                var filename = $(this).val().replace(/.*\\/, "");
                $("#filename").val(filename);
            });
        });
    </script>
    <!------------------------->
    <br>
    <p>Описание трека группы: </p>
    <p><textarea id="track_descr"></textarea></p>
    <br>
    <p>
        <button onclick="MapPage.importTrackFromFile()">
            Загрузить
        </button>
    </p>
    <br>
    <p>
        <button onclick="$('#overlay_tools_area').load('map-page-parts/track_tools.html');">
            Назад
        </button>
    </p>

</div>
<br>
<hr>
<br>