<div id="plan_tools">
    <script type="text/javascript">
        addEventListener("DOMContentLoaded", document.getElementById('group_name').value = MapPage.route_descr);
    </script>
    <p>
        <button id="route_button" onclick="MapPage.editRoutesOnMap()">Редактировать объекты на карте</button>
    </p>
    <br>
    <p>Ввести название группы: </p>
    <p><textarea id="group_name" disabled title=""></textarea></p>
    <br>
    <p>
        <button id="group_name_button" onclick="MapPage.saveDescriptionRoute()">Редактировать примечание к маршрутам</button>
    </p>
    <br>
</div>
<br>
<hr>
<br>
